@import "./../../sass/variables.scss";

.goods {
  &__form {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $main;
  }

  &__label {
    display: flex;
    align-items: center;
    width: 60%;
  }

  &__input {
    flex-grow: 1;
    border: 1px solid $main;
    padding: 10px;
    border-radius: $radius;
    font-family: inherit;
  }
}
